# AZURE OPENAI
AZURE_OPENAI_ENDPOINT="https://tu-recurso.openai.azure.com/"
AZURE_OPENAI_API_KEY="tu-api-key"
AZURE_OPENAI_API_VERSION="2024-02-15-preview"
AZURE_OPENAI_DEPLOYMENT_CHAT="gpt-4o"
AZURE_OPENAI_DEPLOYMENT_EMBEDDING="text-embedding-ada-002"

# AZURE AI SEARCH
AZURE_SEARCH_ENDPOINT="https://tu-servicio-busqueda.search.windows.net"
AZURE_SEARCH_API_KEY="tu-api-key-search"
AZURE_SEARCH_INDEX_NAME="rag-assistants-index"
